<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.challenge.starzplay">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".StarzPlayApplication"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppFullScreenTheme" >

        <activity android:name=".Home.Home"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>/>
        </activity>
        <activity android:name=".MediaDetails.MediaDetailsActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"/>

        <activity android:name=".Core.PlayerView"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation|screenLayout|smallestScreenSize|uiMode">
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>